extends layout

block content
    h1= title

    p.
        It begins with Eine Tasse Jäger song by EkoBrottsMyndigheten. Much respect
        to this band from us, as well as us being grateful for them approving of
        the record label name. <a href="https://www.youtube.com/watch?v=ykNVha0ahOs">
        Listen </a> to the track that set a standard within a certain niche of EBM 
        (anhalt and/or old school, or NO school)!

    br
    p.
        Eine Tasse Jäger as a song is a short one, but it represents many things.
        It promotes the fun and careless spirit of this style of music, with a
        great deal of punk and attitude, and that is what we look for in
        ETJ-records releases..
    br
    p.
        But even more so, this track encourages one to take music for what it is,
        and that is something we put a lot of value and meaning in. As a label, we
        want our releases to allow the band to shine with their ideas, without
        putting any restrictions to format, content, and art style they physically
        want to wrap it in. We believe in originality. We support the fearless
        spirit of expression and not being afraid to do things differently. All
        these things put together may be a little bit difficult to achieve for a
        record label, requiring more time and resources. In the end this means
        fewer releases from us as a label, but once they start grinding the cog
        wheels and see the light of day, you will know that it is a unique piece of
        music with thought put into it.
    br
    p.
        As for us, we are two guys. Ramunas is responsible for all the
        release-related stuff. Sindre brings his programming skills to
        maintain the webpage as well as consulting the tech-related issues, he is
        the consigliere. We both have a varying taste in music, but have been fans
        and supporters of ebm (anhalt, old school and no school!) for many years.
    br
    p.
        You will meet us on various festival grounds, don't be afraid to say hello,
        we will buy you a beer!
    br
    br
    section#contact
        h2 E-mail:
        a(href='mailto:etj.records@gmail.com') etj.records@gmail.com