extends layout

block content
    h1.home NEWS

    .news
        p.news-header Tuesday 29-04-2014
        hr
        p.news-content White Trash Wankers are coming on Eine Tasse Jäger records. The first CD (first mug of jäger) will release 2. July, 2014
    .news
        p.news-header Tuesday 28-04-2014
        hr
        p.news-content Great news everyone! Tom of Finland have started selling stamps.
    .news
        p.news-header Tuesday 04-03-2014
        hr
        p.news-content Eine Tasse Jäger records teaser page was released!
    .news
        p.news-header Tuesday xx-02-2014
        hr
        p.news-content Conceptual work on the Eine Tasse Jäger record webside was started!
    a(href="/news") More News
    br
    br

    h1.home LATEST RELASES
    .release
        div
            img(src='/images/WTWSOON.jpg').release-img
    br