extends layout

block content
    h1 NEWS

    .news
        p.news-header Tuesday 29-04-2014
        hr
        p.news-content White Trash Wankers are coming on Eine Tasse Jäger records. The first CD (first mug of jäger) will release 2. July, 2014
    .news
        p.news-header Tuesday 04-03-2014
        hr
        p.news-content Eine Tasse Jäger records teaser page was released! Cras bibendum orci ut mattis dapibus. Vestibulum eleifend quam sed eleifend egestas. Nulla tristique mi eu mi sodales, sed mollis nunc pellentesque. Vestibulum quis mi eu elit pellentesque auctor. Donec at ligula tellus. Nam varius, diam id rutrum ullamcorper, eros orci mollis dui, sed imperdiet arcu quam vel risus. Duis et nisl massa. Praesent facilisis enim turpis, quis fringilla orci volutpat non. Nulla rutrum velit et est facilisis, nec porta eros auctor. Curabitur eu facilisis dolor. Quisque faucibus sem et nisl porta gravida. Quisque fermentum urna massa, in consectetur neque venenatis a. Aliquam commodo, ante sit amet blandit aliquam, massa tellus sollicitudin magna, ac laoreet diam lacus eu dui.
    .news
        p.news-header Tuesday xx-02-2014
        hr
        p.news-content Conceptual work on the Eine Tasse Jäger record webside was started! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut orci in felis semper iaculis. Quisque scelerisque erat purus, et dictum metus fringilla ut. In eu diam fermentum, fermentum turpis ac, interdum elit. Nulla condimentum laoreet est quis sagittis. Maecenas lobortis neque vitae mi euismod, eu auctor ligula iaculis. Ut condimentum quis justo et pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    a(href="/news") More News
    br
    br

    h1 LATEST RELASES
    .release
        div
            img(src='/images/WTWSOON.jpg').release-img
    br