extends layout

block content
    #story
        p This is the long story of EBM.
        p.
            Electronic Body Music started in the early 1980's and came directly from
            industrial music getting mixed with NDW (neue deutsche welle), disco, and
            the at that time constantly growing influence of synth music across all
            music styles.
        p.
            Three bands brought EBM to life in the beginning of 80's in their own way,
            with their own influences.
        p.
            The first band, Deutsch Amerikanische Freundschaft started in 1979, but
            until 1981 their music was majorly punk and neue deutsche welle. Only in
            1981 they took the step in more electronic direction when they released the
            album Alles Ist Gut, which was filled with more monotonic and minimalist
            synth sounds, which later turned out to be one of the identifying marks of
            EBM. This new electronic music met punk attitude and pace, and set a
            certain standard for the whole future of EBM.
        p.
            In 1982 DAF was joined by another legendary pioneering band: Front 242 with
            the release of Geography album. Their style was different, less punk, and
            even more synth-oriented, closer to the roots of Kraftwerk, only harder.
            There was also a tendency of militaristic influence on this album, which
            also turned out to be a major part of EBM in the years to come.
        p.
            Where DAF was monotonic yet energy-filled, Front 242 was slower and less
            minimalistic. Although both bands were creating the genre of EBM, they were
            fundamentally different, which some people will say has reflected on
            different directions EBM has taken through years to come.
        p.
            In 1984 Nitzer Ebb joined the mission (their first release was in 1983, but
            it was more punk than EBM) with what seemed like an inspiration brought
            from DAF mixed with their own style of electropunk. Likewise minimalistic,
            but with a more youthful and reckless attitude than DAF, they also set a
            standard within EBM, which can directly be identified in most EBM tracks
            today.
        p.
            So the first part of 1980's saw the birth of EBM. DAF continued making
            varied style of music, never quite leaving their punky neue deutshce welle
            attitude. They weren't afraid to experiment and therefore you can hear many
            varied and alternative musical pieces in their music that was released
            during that time. DAF eventually drifted away from the EBM scene and headed
            for straigth synth pop with their release "1st step to heaven" in 1986.
            They returned approximately 16 years later with a more EBM release.
            Compared to DAF, Front 242 continued more strictly into harder and more
            advanced purely electronic music. In 1985, their second album No Comment
            was even more militaristic in sound and strict in attitude, which was a
            great approach for various dance floors. During this time Nitzer Ebb were
            still a somewhat younger band, and mastered their style farther by slowly
            introducing heavier bass and more punch into their sound (for example
            Warsaw Ghetto/So Bright So Strong EP in 1985).
        p.
            1987 saw the release of Nitzer Ebb's That Total Age album, which by many is
            considered the cornerstone of traditional (or old school) EBM. Entirely
            monotonic and fast paced this album brought energy and force never
            experienced in music before. It was electropunk mixed with hard techno
            beats accompanied by McCarthy's insanely powerful vocals. Repetative and
            monotonic, fast, and hard, it set a standard in EBM that is especially
            popular in most projects today.
        p These three bands were the first generation of EBM.
        p.
            The period of 1985-1990 is where the second generation of EBM started
            growing, but this is also the period where EBM started splitting into
            several different genres. Some of them were so different, that it didn't
            seem logical to call both brands EBM anymore. Industrial music was a
            related genre, and its influence was always present in both DAF, Front 242
            and Nitzer Ebb,
            and by some people was considered to be a "father" to EBM, or EBM being a
            subgenre of industrial.
        p.
            Some bands like Front Line Assembly and Skinny Puppy borrowed influence
            from Front 242 and added a harsher, more agressive attitude, accompanied by
            more wicked and dirty/grim vocals. Industrial music was more present for
            these bands. Militarism was to a large extent replaced with noisier and
            faster beats, and more distrortion. This branch of EBM could be described
            as generally more dark, and has been branded as dark electro or Industrial
            EBM, depending on whether the band tended to be more industrial or not.
            Other bands that took this direction were for example Vomito Negro and some
            releases by Klinik.
        p.
            Another different branch of music was born through introduction of techno
            and particularly new beat in the late 80's. New beat was similar to EBM in
            monotonic rhythms and heavily synth based music. Some bands mixed an
            influence of EBM with new beat and created an even more dancable version of
            music. One classic example is A Split Second. This style of EBM didn't
            survive for a very long time, and except some underground projects that
            would continue with releases, died through the beginning of the 90's.
        p.
            Last but not least, the energy and force introduced to the world by Nitzer
            Ebb's Total Age didn't go unnoticed. Just as the new decade was about to
            start, Pouppée Fabrikk showed up, however their EBM wouldn't take off until
            after 1990. Their heavy style of raw EBM reminded a lot of Nitzer Ebb:
            youthful, chaotic, untamed energy expressed through hard beats, heavy
            sounds and straight forward monotonic electropunk. Pouppée Fabrikk were
            later joined by Ionic Vision (starting off at 1992). This style of music is
            majorly what (old school) EBM consists of today.
        p.
            These three branches of EBM (dark industrial electro, new beat, and raw
            punk EBM ala Nitzer EBb and DAF) were the mark of the second generation of
            EBM. While new beat influences died off early, the other two would continue
            later into 1990's. Dark industrial EBM through the 90s was often called
            dark electro, as it moved farther and farther away from traditional EBM by
            adding guitars, distorted vocals and generally harsher industrial sounds,
            often becoming music that is oriented around atmosphere in addition to pure
            energy. This style of music would grow stronger and stronger through many
            years to come, and is among the major influences to modern bands like
            Marilyn Manson.
        p.
            The traditional EBM brought farther by Pouppée Fabrikk and Ionic vision was
            joined by a few others (for example Orange Sector), but it also became less
            active, only supported by the few bands till the late 90's, and in a
            greater perspective was considered dead during this decade.
        p.
            So traditional EBM stayed in complete underground with a few releases till
            the beginning of 2000. The first decade of the new millennium saw a sudden
            revival of this genre. The leading bands responsible for this resurrection
            were Sturm Café and Spetsnaz. They were accompanied by Orange Sector and
            Ionic Vision who were still alive since early 90s, as well as Container 90,
            Jäger 90, and a few others. Spetsnaz brought a straight forward
            agressiveEBM style, obviously very inspired by Nitzer Ebb. Sturm Café
            appeared more playful and lighter, and from their earliest demos you can
            hear a clear DAF influence. Jäger 90 did a mix of both, and Container 90
            went in their own unique direction mixing early Nitzer Ebb style with punk
            music. These bands led the scene to an increase of concerts and festivals,
            and soon, were joined by many other bands, which would simply take too much
            space to list here. A big part in this was played by Electric Tremor
            organization that was a community supporter, record label, and event
            arranger. Specifically their yearly Familientreffen festival has since 2004
            been bringing fans and bands from all over Europe to longer and longer
            weekends each year, filled with live performances.
        p.
            2008 was probably the strongest year for this style of music, as several
            successful bands started
            releasing material around then. Bands such as EkoBrottsMyndigheten,
            A.D.A.C. 8286, KROPP, Autodafeh, and many others.
        p.
            From this time and onwards EBM stayed on a more or less steady course and
            growing popularity. For most of this time EBM stayed the same musically,
            with a few exceptions. Most bands would create pieces true to That Total
            Age style by Nitzer Ebb and Spetsnaz. The military influence was almost
            everywhere, both lyrically and in attitude. Exceptions from this were Sturm
            Café which continued in their own strange direction of creating more and more
            catchy and melodic music, yet somehow staying true to the ways of old.
            Container 90 also stood out as a special exception that sounded more like
            punk through the sounds of EBM, rather than EBM influenced by punk music.
        p.
            2013 and onwards saw a shift in EBM again, with more bands experimenting
            with other styles. This was also the year when Container 90 released their
            most punk-album ever. This year also saw the return of Pouppée Fabrikk that
            together with their new CD issued a statement that EBM is mostly dead and
            consists of bands repeating each other or simply has low musical value.
            Maybe as a consequence of this or just as a shift within musical scene,
            more varied EBM music started emerging. Around this time A.D.A.C. 8286 have
            been making their new album that would consist of some pieces that would
            entirely stand out from typical EBM. White Trash Wankers also spawned
            around this time, mixing psychobilly with EBM. Several other differing
            bands have emerged, such as No Sleep By The Machine, that returned to the
            roots of industrial and dark industrial electro ala Skinny Puppy and Klinik
            during the 80s.
        p Only time will show where EBM will head next, but it will be very interesting to see.


